*{
    background-color: #dcdaa3;
    border-radius: 10px;
    font-family: 'Rampart One', cursive;
    color: #ffffff;
    font-size: 25px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.erase{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #b5dca3;
    
}
.btn-principal{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #b5dca3;
}
.buttons{
    background-color: #b5dca3;
}
.numbers{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #b5dca3;
    
}
.number{
    width: 55px;
    height: 55px;
    background-color: rgba(14, 68, 8, 0.736);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
p{
    background-color:transparent;
}
.sevenToNine, 
.fourToSix,
.oneToThree,
.dotToEqual{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #b5dca3;
}
.operators .number{
    text-align: center;
    margin: 20px;
    margin-right: 10px;
    
}


#calculator{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 40px;
    margin: 50px;
    width: 300px;
    border-style: solid;
    border-color: #242d2189;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #b5dca3;
}
#inside{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #b5dca3;
}
#display{
    width: 300px;
    background-color: rgb(240, 248, 255);
    height: 80px;
    margin: 20px;
    margin-top: 10px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 4px 12px;
}

.operators{
    background-color: #b5dca3;
}
#clear, 
#delete{
    display: flex;
    justify-content: center;
    background-color: #b5dca3;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 50px;
    width: 130px;
    background-color: rgba(170, 103, 189, 0.527);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#clear:hover,
#delete:hover{
    background-color: #7d3093;
}
#clear:active,
#delete:active{
    background-color: #9d52b1;
}

.number:hover{
    background-color: #495843;
}
.number:active{
    background-color: #57774a;
}
